.bodyWrapper {
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 6em;
}

.bodyWrapper > .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bodyWrapper > .flex > p {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    color: var(--dark);
}

.bodyWrapper > .flex > p > svg {
    padding-right: 10px;
}

.bodyWrapper > .flex > a > button {
    float: right;
    margin-top: 20px;

    background-color: var(--blue);
    margin-left: 30px;
    padding: 10px 30px;
    color: var(--white);
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.bodyWrapper > .flex > a > button:hover {
    opacity: 0.9;
    transition: 200ms;
    cursor: pointer;
}

.body {
    margin-top: 10em;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 0px;
}

.body .box:nth-child(1) {
    margin-top: 2em;
}

.box .title > p {
    text-align: center;
    margin-top: 12px;
    font-size: 40px;
    color: var(--dark);
    text-transform: uppercase;
    margin-bottom: -2px;
}

.box .title > span {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--grey);
    display: block;
}

.box > p {
    margin-top: 20px;
    font-size: 1em;
    color: var(--dark2);
    text-align: center;
}

.box > p > span {
    display: block;
    font-size: 1em;
    color: var(--dark2);
    text-align: center;
    margin-top: 6px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer > a > button {
    margin-top: 30px;
    background-color: var(--dark);
    margin-left: 30px;
    padding: 12px 40px;
    color: var(--white);
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.buttonContainer > a > button:hover {
    opacity: 0.9;
    transition: 200ms;
    cursor: pointer;
}

.box > .img {
    height: 40em;
    opacity: 0.8;
    margin-top: -8em;
}

@media (max-width: 420px) {
    .bodyWrapper {
        margin: 0 auto;
        overflow: hidden;
        padding: 10px 1em;
    }

    .bodyWrapper > .flex {
        margin-top: -10px;
    }

    .bodyWrapper > .flex > p {
        font-size: 16px;
    }

    .bodyWrapper > .flex > a > button {
        font-size: 12px;
    }

    .body {
        margin-top: 8em;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .box .title > p {
        margin-top: 6em;
        font-size: 1.2em;
    }

    .box .title > span {
        font-size: 0.9em;
    }

    .box > p {
        font-size: 0.7em;
    }

    .box > p > span {
        font-size: 0.8em;
        margin-top: 10px;
    }

    .buttonContainer > a > button {
        padding: 8px 30px;
        font-size: 10px;
        margin-left: 0px;
    }

    .box > .img {
        height: 20em;
        margin-top: -28em;
        position: absolute;
    }
}
