@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
:root.dark {
    --background: #000;
    --background2: #202124;
    --black2: #050405;
    --primary: #17181b;
    --secondary: #637381;
    --secondary2: #637381;
    --secondary3: #96b3cd;

    --blue: #564fb1;
    --dark: #17181b;
    --dark2: #202124;
    --grey: #637381;
    --light: #9e9e9e;
    --red: rgb(190, 20, 20);
    --white: #fff;

    --background-border: #323246;
    --primary-text: #fff;
    --secondary-text: #637381;
}

:root.light {
    --background: #fff;
    --background2: #fff;
    --primary: #f7f7f7;
    --secondary: #231f20;
    --secondary2: #564fb1;
    --secondary3: #564fb1;

    --background-border: #dbdbdb;
    --primary-text: #231f20;
    --secondary-text: #637381;
}

body {
    font-family: 'Sen', sans-serif;
}
